* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.container {
    height: 100vh;
    right: 100vw;

}

.container-left {
    display: inline-block;
    width: 70%;
    padding-left: 60px;
    margin-top: 250px;

}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.1);
    height: 100vh;
    width: 30%;
    position: absolute;

}

img {
    position: relative;
    margin-top: 50%;
    right: 90px;
    width: 300px;

}

h1 {
    width: 300px;
    font-size: 50px;
    line-height: 40px;

}

p {
    width: 500px;
    font-size: 25px;
    line-height: 38px;
    opacity: 0.6;
    margin: 15px 0;
    margin-top: 5%;
}

button {
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 56px;
    cursor: pointer;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);

    font-size: 15px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: rgba(93, 93, 125, 1);
    margin-right: 31px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 10px;

}

@media screen and (max-width: 800px) {
    .container-left{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    
    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 3px;
        
    }

    img {
        position: static;
        margin: 35px 5px;
    }
    
    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;    
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
        
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button{
        margin: 0 auto;
    display: block;
    }
}